body {
    background-color: #111111;
    margin: 0;
}

.slidebar {
    background-color: #000000;
    width: 30%;
    color: #ffffff;
    float: left;
    overflow: scroll;
    height: 100vh;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    background-color: #33d6ff;
    list-style: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    width: 100%;
    height: 38px;
    font-size: 20px;
    background-color: #00cc7a;
}

h1 {
    text-align: center;
    background-color: #dd99ff;
    margin: 0;
    padding: 3;
    border-bottom: 1px solid black;
}

.container {
    float: right;
    width: 70%;
}

.container input {
    width: 100%;
    height: 38px;
    font-size: 20px;
    text-align: center;
    background-color: #00cc7a;
    margin: 0;
    border: 0;
}

.container textarea {
    width: 100%;
    height: 300px;
}

.container button {
    width: 49%;
    height: 38px;
    font-size: 20px;
    background-color: #00cc7a;
    margin: 0;
    border: 0;
}